* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    color: #29383F;
    background-color: rgba(102, 125, 146, 0.5);
    padding: 25px;
    margin-bottom: 50px;
}

.heading {
    font-size: 34px;
    font-weight: bold;
    margin-right: 25px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: #29383F;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #eefafc;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    color: #d9f5f8;
}

.container h2 {
    margin-top: 0;
}

.room {
    width: 80%;
    border-radius: 5px;
    background-color: #374a5b;
    padding: 25px;
}

