* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    color: #29383F;
    background-color: rgba(102, 125, 146, 0.5);
    padding: 25px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    color: #d9f5f8;
}

.room {
    width: 80%;
    border-radius: 5px;
    background-color: #374a5b;
    padding: 25px;
}

