<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hogwarts Houses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<nav>
    <span th:class="heading">All Rooms</span>
    <button th:class="create-room">Create Room</button>
</nav>
<div th:class="container">
    <div th:class="room">
        <h2 th:text="${room.name}"></h2>
        <p>House: <span th:text="${room.houseType}"></span></p>
        <p>Capacity: <span th:text="${room.amountOfStudents}"></span> student(s)</p>
        <p>ID: <span th:text="${room.id}"></span></p>

        <form th:method="delete" th:action="@{/rooms/{id}(id=${room.id})}">
            <input type="hidden" name="_method" value="delete">
            <input id="delete-btn" value="Delete Room" th:type="submit">
        </form>
    </div>
</div>
</body>
</html>