<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hogwarts Houses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<nav>
    <span th:class="heading">All Rooms</span>
    <a href="/rooms/create-room" th:class="create-room-btn">Create Room</a>
</nav>
<div th:class="container">
    <div th:class="room" th:each="room: ${rooms}">
        <h2 th:text="${room.name}"></h2>
        <p>House: <span th:text="${room.houseType}"></span></p>
        <p>Capacity: <span th:text="${room.capacity}"></span> student(s)</p>
        <a th:href="@{/rooms/{id}(id=${room.id})}" th:id="all-rooms-btn">Room Details</a>
    </div>
</div>
</body>
</html>